---
layout: default
---

<div class="home">

  <h1 class="page-heading">Products</h1>
  
  {{ content }}

    {% for product in site.products %}

      <div class="col-md-2 column productbox">
          <img src="{{ "/assets/img/products/" | append: product.image | absolute_url}}" class="img-responsive">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ product.date | date: date_format }}</span>
          <!-- <div class="producttitle">{{ product.title | escape }}</div> -->
          <div class="producttitle">
              <a href="{{ product.url | relative_url }}">{{ product.title | escape }}</a>
          </div>
          <div class="productprice">
            <div class="pull-right">
              <button href="#"
                class="snipcart-add-item"
                data-item-id="{{product.id}}"
                data-item-name="{{product.title}}"
                data-item-price="{{product.price}}"
                data-item-weight="0"
                data-item-url="{{ "" | absolute_url}}"
                data-item-description="{{product.summary}}">
                Buy
              </button>
<!-- 
              <a href="{{ product.url | relative_url }}" class="btn btn-danger btn-sm" role="button">BUY</a> -->
            </div>
            <div class="pricetext">€{{ product.price }}</div></div>
      </div>

    {% endfor %}


</div>
